*{
    /* border:1px solid purple; */
}

body,h1,h2,h3,p{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* height:100%;
    width: 100%; */
}

body{
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    /* justify-content: space-between; */
    align-items: center;
}

header{
    padding-top:2rem;
    font-size: 1.5rem;
}

main{
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    
}

.calc-container{
    width:90%;
    display:flex;
    flex-flow: column nowrap;
    margin:2rem 0;
    border:2px solid black;
    border-radius: 1rem;
}

.input-container{
    width: 100%;
}

.input-container input{
    width: 100%;
    font-size: 2rem;
    padding:.5rem 0;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 0px solid black;

}

.main-calc-buttons .remove-buttons span{
    padding:.5em 0;
    background-color: rgb(117, 2, 2);
}

.calc-body{
    display:flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
    width: 100%;
}

.calc-body .main-calc-buttons{
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    width: 80%;
    
}

.main-calc-buttons div{
    width:100%;
    display:flex;
    background-color: azure;
}

.main-calc-buttons div span{
    text-align: center;
    width: 100%;
    padding:.5em 0;
    border:1px solid black;
}

.calc-nums{
    display:flex;
    flex-flow: column nowrap;
    
}

.calc-nums:last-child div:last-child span, .calc-nums:last-child div ,.calc-nums{
    border-bottom-left-radius: .8rem;
}
.calc-body .operators{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 20%;
    background-color: lightgrey;
   
}

.calc-body .operators,.calc-body .operators span:last-child{
     border-bottom-right-radius: 1rem;
}

.operators span{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}

footer{
    display:flex;
    align-items: flex-end;
}


@media(min-width: 550px){
    .calc-container{
        max-width:35rem;
    }
    .calc-body{
        font-size: 2rem;
    }
    .input-container input{
        font-size: 3rem;
    }
}